{% extends 'base.html' %}

{% block content %}
<main class="container pt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/ticket/create" method="POST" class="card card-body">
                <h1 class="display-4 text-center">Abrir un Ticket Nuevo</h1>
                <strong>{{error}}</strong>    
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary mt-3">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}