{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center ">¡Hola, {{user.first_name}}!</h1>
        <p class="text-center">El objetivo de la plataforma es apoyar el registro y atender oportunamente los requerimientos</p>
        <p class="text-center">del &aacute;rea de Sistemas.</p>
        <p class="text-center"><strong>¿Deseas crear un ticket de atención?</strong></p>
        <div class="d-flex justify-content-evenly">
            <a class="btn btn-primary" href="{% url 'create_ticket' %}">
                Generar ticket
            </a>
        </div>
    </section>    
</main>
{% endblock %}